.Ldt-CocoCreateAnnotation-Form {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    position: relative;
}
.Ldt-CocoCreateAnnotation-Text {
    width: 100%;
}
.Ldt-CocoCreateAnnotation-Timecode {
    position: absolute;
    border-radius: 2px;
    color: #999;
    width: 4em;
    border: none;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
    max-height: 0;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.Ldt-CocoCreateAnnotation-Timecode-Active {
    display: inline-block;
    max-height: 1.1em;
    top: -1.1em;
    border: 1px solid #77e;
}
